html,body{
	width:100%;
	height:100%;
	background:#fff;
}
.h1{
	text-align: center;
	font-size: 30px;
	height:50px;
	line-height: 50px;
}
ul li{
	height:50px;
	line-height: 50px;
	text-align: left;
	padding-left:30px;
	font-size: 25px;
}